<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ybc_productimagehover</name>
	<displayName><![CDATA[Product image rollover]]></displayName>
	<version><![CDATA[1.0.1]]></version>
	<description><![CDATA[Display second image when hover over product image]]></description>
	<author><![CDATA[PrestashopAddon.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>